body{
    background: #0f0a26;
}
.right{
    padding-right: 17px;
}
.navbar , .menu{
    display: flex;
    justify-content: space-between;
    background: rgb(42, 42, 93);
    margin: auto;
    width: 75%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}
.Balans{
    color: gray ;
    text-transform: uppercase;
}
.narx{
    color: #7fbdff;
}
.live_market{
    font-weight: 900;
    font-size: 20px;
    color: aliceblue;
}
.Xolat{
    text-align: end;
    color: rgb(29, 221, 29);

}

.online{
    display: flex;
}

.menu{
    margin-top: 40px;
    background: none;
    width: 75%;
    height: auto;
    border: rgb(24, 0, 245) 2px solid; 
    padding: 20px; 
}
.bozor_title{
    margin-right: 40%;
    color: white;
    font-size: 30px;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    
}
.card{
    width: 600px;
    border: 2px solid rgb(24, 0, 245);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
}
.card:hover{
    border: 2px solid rgb(36, 48, 221);
    box-shadow: 3px 3px 3px 3px rgb(25, 37, 202);
    transition: 0.3s;
}
.card_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sotuv{
    width: 500px;
    height: 30vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: rgb(24, 0, 245) 2px solid;
    border-radius: 20px;
    padding: 20px;

}

.imput{
    width: auto;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    background: #0f0a26 ;
    border: rgb(24, 0, 245) solid 2px;
}

.btns{
    margin: auto;
    display: flex;
    gap: 20px;
}
.buy{
    width: 200px;
    height: 40px;
    background: greenyellow;
    border-radius: 20px;
    color: green;
}

.reset{
    width: 200px;
    height: 40px;
    background: red;
    border-radius: 20px;
}

.buy:hover{
    border: 2px solid yellowgreen;
    box-shadow: 3px 3px 3px 3px green;
    transition: 0.3s;
}
.buy:active{
    margin-top: 10px;
}

.reset:hover{
    border: 2px solid red;
    box-shadow: 3px 3px 3px 3px rgb(138, 15, 15);
    transition: 0.3s;
}
.reset:active{
    margin-top: 10px;
}

.price{
    color: #7fbdff;
}